.section {
  padding-top: 120px; /* Внутренний отступ сверху */
  padding-bottom: 120px; /* Внутренний отступ снизу */
}

 h1,h2,h3,h4,h5,h6{
    margin: 0;
 }
 p{
    margin: 0;
 }
 ul{
    margin: 0;
    padding-left: 0;
 }
 .container { 
    max-width: 
    padding-left:  
    padding-right:  
    margin-left:  
    margin-right:  
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
      }
      .section {
        padding-top: 120px;
        padding-bottom: 120px;
      }
      
body {
    font-family: 'Roboto', sans-serif; /* Шрифт для текста */
    color: #434455; /* Цвет текста */
    background-color: #FFFFFF; /* Цвет фона */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding-left: 156px;
  padding-right: 156px;
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
}


.container {
  display: flex;
  justify-content: space-between; /* Располагает навигацию и контакты в одну линию */
  align-items: center; /* Центрирует элементы по вертикали */
  width: 1158px;
  margin: 0 auto; /* Центрирует контейнер */
  padding: 0 15px; /* Внутренние отступы по бокам */
}


.header-logo-div{
    max-height: 24px;
      margin-right: 76px;  
}

.header__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; /* Задаёт цвет текста */
    padding-top: 24px;
    padding-bottom: 24px;
}

.header__logo-part-white {
 
  text-decoration: none;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 40px;
  max-height: 24px;
}
 .header-panel{
  display: flex; /* Элементы списка будут расположены горизонтально */
  gap: 40px;
 }
.header__nav-list {
  display: flex; /* Элементы списка будут расположены горизонтально */
  gap: 40px; /* Расстояние между пунктами меню */
  list-style: none; /* Убираем маркеры списка */
}

.header__nav-item {
  height: 24px;
  width: auto;
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 0; /* Обнуляем отступ для последнего элемента */
}

.header__nav-link {
  text-decoration: none;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-left: 40px;
  position: relative; /* Смещаем относительно исходного положения */
}
.header__nav-link:hover,
.header__nav-link:focus{
    color: #404bbf; /* Цвет при наведении и фокусе */
}

.header__contact-info {
  display: flex;
  align-items: center;
  font-style: normal;
}

.header__contact-list {
  list-style: none;
  display: flex;
  gap: 40px
  padding: 0;
  margin: 0;
}

.header__contact-item {
  display: flex;
  align-items: center;
  margin-right: 40px; /* Отступ между пунктами контактов */
}
.header__contact-item:last-child {
  margin-right: 0;
}
.header__contact-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header__contact-link:hover,
.header__contact-link:focus{
    color: #404bbf; /* Цвет при наведении и фокусе */
}

.main-content__intro {
  display: flex;
  flex-direction: column; /* Устанавливаем вертикальное направление */
  align-items: center; /* Центрируем элементы по горизонтали */
  justify-content: center; /* Центрируем элементы по вертикали */
  height: 600px; /* Высота контейнера */
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  
}

.main-content__title {
  display: flex;
  
  margin-bottom: 48px;
  font-size: 56px; /* Укажите желаемый размер шрифта */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
 line-height: 1.07;
 max-width: 496px;
}

.main-content__button {
  display: block;
  white-space: nowrap; /* Запретить перенос текста на новую строку */
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  min-width: 169px;
  height: 56px;
  border: none; 
  background-color:#4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 150px;
 

}
.main-content__button:hover,
.main-content__button:focus{
    background-color: #404BBF;
}


.main-content__features {

  padding-top: 120px;
  padding-bottom: 120px;
}
.main-content--features{
    width: 1128px;
    height: 104px;
    margin-top: 50px;
  display: flex;
  flex-direction: column; /* Заголовок сверху, а элементы под ним */
  align-items: center;
  margin-bottom: 60px;
  min-height: 400px;

}

.main-content__feature-list {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  gap: 24px; /* Отступ между колонками, можно настроить */
  list-style: none;
}

.main-content__feature-item {
  flex: 1 1 calc(20% - 20px); /* Уменьшите ширину, например, до 20% */
  box-sizing: border-box; /* Учитывает padding и border в ширину */

}

.main-content__feature-title {
  margin-bottom: 8px; /* Отступ между заголовком и описанием */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-content__feature-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  text-align: center;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
 text-transform: capitalize;
}
.main-content__team {
  background-color: #f4f4fd; /* Фон для родительского контейнера */
min-height: 732px;
  display: flex; /* Использует Flexbox */
  flex-direction: column; /* Вертикальное направление */
  justify-content: center; /* Центрирует контент по вертикали */
  align-items: center; /* Центрирует контент по горизонтали */
  padding: 120px 0;
}

.main-content__subtitle {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  /* line-height: 40px; */ 
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
 text-transform: capitalize;
 margin-bottom: 72px;
}

.main-content__team-list {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  gap: 24px; /* Отступ между колонками */
}
.main-content__team-list:last-child {
  margin-right: 0; /* Обнуляем отступ для последнего элемента */
}

.main-content__team-member {
  position: relative;
  flex: 1 1 calc(15% - 20px); /* Уменьшите ширину */
  box-sizing: border-box; /* Учитывает padding и border в ширину */
  border-radius: 8px; /* Закругленные углы */
  min-width: 200px; /* Минимальная ширина */
  min-height: 200px; /* Увеличьте, если нужно */
  overflow: hidden; /* Скрывает переполняющий контент */
  margin: 0; /* Убираем внешний отступ */
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.main-content__team-member:first-child {
  width: calc((100% - 72px) / 4); /* Применение стиля только к первому элементу */
  border-radius: 0px 0px 4px 4px;
}
.card-text{
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-content__team-img {
  max-width: 100%; /* Изображение не превышает ширину карточки */
  height: auto; /* Сохраняет пропорции изображения */
  background: url("path_to_image");
}

.main-content__team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center; 
  margin-bottom: 8px
}
.main-content__team-role {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
   
}




a {
  text-decoration: none;
}
.portfolio{
   padding: 120px 0;
  
}

.portfolio__title{  
display: flex;
flex-direction: column;
text-align: center;
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px; /* Добавляет отступ между заголовком и картинками */

}

.portfolio__image {
    display: block;
   
  }


.portfolio__list{   
    display: flex;
  justify-content: center; /* Центрирует список */
  gap: 24px; /* Расстояние между элементами */
  list-style: none; /* Убирает маркеры списка */
  flex-wrap: wrap;
  column-gap: 24px; /* Задаем горизонтальные отступы между элементами */
  row-gap: 48px; /* Задаем вертикальные отступы между элементами */
}
.portfolio__item{   
  width: calc((100% - (3 - 1) * 24px) / 3); /* Формула для расчета ширины */
  max-width: 360px; /* Устанавливает максимальную ширину для карточек */
}
.portfolio__item:nth-child(3n) {
  margin-right: 0; /* Убираем отступ для каждого третьего элемента */
  margin-bottom: 0;
}

.portfolio__groups {
    display: flex;
    flex-wrap: wrap; /* Позволяет группам переноситься на новую строку */
    justify-content: center; /* Центрирует группы */
}
.portfolio__group {
    display: flex;
    justify-content: center; /* Центрирует элементы внутри группы */
    padding-right: 24px;
    margin-bottom: 48px;
}
.portfolio__group-dva{
    display: flex;
    justify-content: center; /* Центрирует элементы внутри группы */
   padding-right: 24px;
}
.portfolio__image{   

}
.portfolio__item-title{   
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    
    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio__item-category{  
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.portfolio-card-text{
width: 360px;
height: 120px;
padding: 32px 16px
border: 1px solid #e7e9fc;
border-top: none;
}

.footer {
    padding: 100px 0;
  }
  .container5{
    display: flex;
    justify-content: center; /* Центрирует контейнер по горизонтали */
    padding-left: 156px; /* Отступы по краям контейнера */
    padding-bottom: 100px ;
    padding-top: 100px;
    flex-direction: column; /* Заголовок сверху, а элементы под ним */
    min-height: 312px;
    background: #2e2f42;
  }

  .footer-logo{
    max-width: 115px;
    max-height: 24px;
  }
  .footer-description{
    max-width: 264px
  }
  .footer__logo {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5; /* Задаёт цвет текста */
      display: inline-block;
      margin-bottom: 16px;
      display: inline-block;
      margin-bottom: 16px;
  }
  .footer__logo_white{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd
  }
  .container-section-foo {
    padding-top: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    line-height: 24px;

  }